@model IEnumerable<Accommodation.Models.CleanerRoaster>

@{
    ViewBag.Title = "Service Request";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        height: 200px !important;
        margin-bottom: 20px !important;
        border: groove !important;
    }

        .card:hover {
            border-radius: 10px;
            border-color: aqua !important;
        }
</style>
<h2 style="text-align:center; padding-bottom:20px !important">Available Services</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <p class="card-text"> <h4><strong> Service type: @Html.DisplayFor(x => item.GetService.ServiceTypes.Type)</strong></h4></p>
                        <p class="card-text">Employee Name : @Html.DisplayFor(x => item.GetCleaners.FullName) @Html.DisplayFor(x => item.GetCleaners.LastName)</p>
                        <p class="card-text">Price : @Html.DisplayFor(x => item.GetService.servicePrice)</p>
                        <p class="card-text"> Short Desciption: @Html.DisplayFor(x => item.GetService.Description)</p>
                        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Create","RequestServices", new { id=item.CleanerRoasterId})'">Book Service </a></p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

